.boardBorder{
    width: 1800px;
    height: 600px;
    overflow: hidden;
    margin: auto;
    padding: 30px;
    background: #344c4e;
    border-radius: 15px;
}

.boardBack{
    width: 1700px;
    height: 535px;
    overflow: hidden;
    margin: auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
}

.boardPrompt{
    text-align: center;
    color: #1b2829;
    font-weight: bold;
    padding: 0px;
    font-size: 62px;
}

.scoreBoard {
    width: 1700px;
    overflow: hidden;
    display: table;
    margin: 0 auto;
}

.boardPlayerList {
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.boardPlayerListItem {
    display:inline-block;
}

.boardPlayerBuffer {
    width: 300px;
}

.boardPlayerBorder{
    width: 260px;
    height: 180px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #344c4e;
    border-radius: 15px;
}

.boardPlayerBuzzed{
    background-color: #e28d54;
}

.boardPlayerBack{
    width: 250px;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    background: #ffffff;
    border-radius: 15px;
}

.boardPlayerPointsBorder{
    width: 250px;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    background: #344c4e;
}

.boardPlayerPointsBack{
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #000000;
}

.boardPlayerNameText{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131313;
    font-size: 32px;
}

.boardPlayerPointsText{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: #f08282;
    font-size: 52px;
}