.joinRoom {
    width: 320px;
    overflow: hidden;
    margin: auto;
    padding: 30px;
    background: #344c4e;
    border-radius: 15px;
}

.mainTitle {
    text-align: center;
    color: #1b2829;
    padding: 20px;
}

.roomLabel{
    color: #cccccc;
    font-size: 17px;
}

#RoomNum{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

#PlayerName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

.rejoinList {
    list-style-type: none;
}

.joinButton{
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 10px;
    color: #344c4e;
}

.rejoinButton{
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 10px;
    color: #344c4e;
}