.login {
    width: 320px;
    overflow: hidden;
    margin: auto;
    padding: 30px;
    background: #344c4e;
    border-radius: 15px;
}

.loginTitle{
    text-align: center;
    color: #1b2829;
    padding: 20px;
}

.loginLabel{
    color: #cccccc;
    font-size: 17px;
}

#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

#log{
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 10px;
    color: #344c4e;
}