.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8F0DF;
}

.navList > li {
  float: left;
}

.navList > li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList > li span {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList > li a:hover {
  background-color: #79B4B7;
}

.navList > li span:hover {
  background-color: #79B4B7;
  cursor: pointer;
}