/* button CSS lifted from https://codepen.io/JoeHastings/pen/MwoOeW */
.buzzer {
    margin: auto;
	 width: 200px;
	 height: 180px;
	 line-height: 200px;
	 text-align: center;
	 cursor: pointer;
	 border-radius: 50%;
	 background: #f74d4d;
	 background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f74d4d),color-stop(100%,#f86469));
	 background-image: -moz-gradient(linear,left top,left bottom,color-stop(0%,#f74d4d),color-stop(100%,#f86469));
	 box-shadow: 0 15px #e24f4f;
}

.buzzer-lit{
    background: #e28d54;
	 background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e28d54),color-stop(100%,#fda760));
	 background-image: -moz-gradient(linear,left top,left bottom,color-stop(0%,#e28d54),color-stop(100%,#fda760));
	 box-shadow: 0 15px #b16f43;
}
 .buzzer:active {
	 box-shadow: 0 0 #e24f4f;
	 -webkit-transform: translate(0px,15px);
	 -moz-transform: translate(0px,15px);
	 -ms-transform: translate(0px,15px);
	 -o-transform: translate(0px,15px);
	 -webkit-transition: 0.1s all ease-out;
	 -moz-transition: 0.1s all ease-out;
	 -ms-transition: 0.1s all ease-out;
	 -o-transition: 0.1s all ease-out;
	 transition: 0.1s all ease-out;
}

.buzzerHolder{
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
}

.podiumBackground{
    width: 260px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #344c4e;
    border-radius: 15px;
}

.podiumNameDisplay{
    width: 250px;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    background: #ffffff;
    border-radius: 15px;
}

.podiumPointsDisplay{
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #000000;
}

.podiumNameText{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131313;
    font-size: 32px;
}
.podiumPointsText{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: #f08282;
    font-size: 52px;
}