.room {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.room>span {
    padding: 0 5px;
    white-space: nowrap;
}

.room>span>a {
    color: inherit;
}

.roomLink:hover {
  background-color: #79B4B7;
  cursor: pointer;
}